*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 50%;
    border: solid 1px black;
    border-radius: 20px;
   margin-inline: auto;
   font-size: 14px;
}

img{
    border-radius: 20px 0 0 20px;
}
.main_div{
    display: flex;
}
.perfume_list{
    border: solid red;
    padding-left: 2em;
}

.perfume{
    letter-spacing: 5px;
    color: hsl(40, 7%, 83%);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-block: 2em ;
   
}
 .head_container{
    margin-block: 2em;
 }
.perfume_head{
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    
}

.perfume_text{
    font-family: 'Montserrat', sans-serif;
    color: hsl(40, 7%, 83%);
    font-weight: 500;
    border: solid red;
    width: 85%;
}
.perfume_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border: solid red;
    margin-block: 2em;
}
.actual{
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    
}
.fig_del{
    font-family: 'Montserrat', sans-serif;
        color: hsl(40, 7%, 83%);
        font-weight: 500;
}
button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 50%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: none;
    color:hsl(0, 0%, 100%) ;
}